@model Personne


<form method="post">
    <div class="border p-3 mt-3">
        <div class="row pb-2">
            <h2 class="primary-text" >Add New Person</h2>
        <br />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
        </div>
        <div class="mb-3">
            <label asp-for="Prename"></label>
            <input asp-for="Prename" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate" class="form-control" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" width="150px">Submit</button>
        <a asp-controller="Personne" asp-action="Index" class="btn btn-primary" width="150px">Back to List</a>
    </div>
</form>